name: Manual NPM Publish

on:
  workflow_dispatch:
    inputs:
      version:
        default: "1.0.1"
        description: "New version (e.g., 1.0.1)"
        required: true
      node-version:
        default: "20"
        description: "Node.js version (e.g., 20)"
        required: true
      registry-url:
        default: "https://npm.pkg.github.com"
        description: "NPM registry URL"
        required: false
      update-nc-dependency:
        type: boolean
        default: false
        description: "Update dependencies"
        required: false

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
            node-version: ${{ github.event.inputs.node-version }}
            registry-url: ${{ github.event.inputs.registry-url }}

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Update dependencies
        if: ${{ github.event.inputs.update-nc-dependency == 'true' }}
        run: npm ls --json |  jq -r '.dependencies | keys[]' | grep "@netcracker" | xargs --no-run-if-empty npm update

      - name: Update package version
        run: |
            npm version ${{ github.event.inputs.version }} --no-git-tag-version

            git diff --color
            git diff >> changes.txt


      - name: Check if build script exists and run build
        run: |
            if npm run | grep -q "build"; then
              npm run build
            else
              echo "Build script not found in package.json. Stopping workflow."
              exit 1
            fi

      - name: Run tests
        run: npm test --if-present

      - name: Get package version
        id: get_version
        run: |
          if [ "$IS_LERNA" == "true" ]; then
            VERSION=$(lerna list --json | jq -r '.[0].version')
          else
            VERSION=$(jq -r '.version' package.json)
          fi
          echo "package_version=$VERSION" >> $GITHUB_OUTPUT


      # - name: Publish to GitHub NPM Registry
      #   id: publish
      #   run: |
      #       CURRENT_BRANCH=$(echo $GITHUB_REF | sed 's/refs\/heads\///')
      #       if [ "$CURRENT_BRANCH" == "main" ]; then
      #         TAG_NAME="latest"
      #       elif [ "$CURRENT_BRANCH" == "release" ]; then
      #         TAG_NAME="next"
      #       elif [ "$CURRENT_BRANCH" == "develop" ]; then
      #         TAG_NAME="dev"
      #       elif [[ "$CURRENT_BRANCH" == feature/* ]]; then
      #         TAG_NAME="${CURRENT_BRANCH//\//-}"
      #       fi
      #       echo "npm_dist_tag=$TAG_NAME" >> $GITHUB_OUTPUT
      #       if [ -n "$TAG_NAME" ]; then
      #         if [ "$IS_LERNA" == "true" ]; then
      #           lerna publish from-package --yes --no-push --no-git-reset --no-git-tag-version --dist-tag "$TAG_NAME"
      #         else
      #           npm publish --tag "$TAG_NAME"
      #         fi
      #       fi

      - name: Publish to NPM
        run: npm publish --tag "next"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Commit and Push changes
        uses: ./actions/commit-and-push@master
        with:
          branch_name: 'main'
